{
  "WOOCOMMERCE_BASE_URL": "https://nnfoodsandspices.com",
  "WOOCOMMERCE_CONSUMER_KEY": "",
  "WOOCOMMERCE_CONSUMER_SECRET": "",
  "RAZORPAY_KEY": "",
  "STRIPE_PUBLISHABLE_KEY": "",
  "PAYTABS_PROFILE_ID": ""
}
